# Compiled Object files
*.slo
*.lo
*.o

# CodeBlocks files
*.depend
*.layout

# Tex files
*.aux
*.log
*.out
*.synctex.gz

# Executables
*.exe
!Lectures/06 - Hidden Surface Removal/DemoApp/bin/DemoApp.exe
